# Get an idea about vars filling from this file.
# Don't use values from this file. This file is just made to give you an idea about vars filling.


API_ID = 16363425

API_HASH = "6c23b156912531c4gdba290f9458b6e4"

OWNER_ID = 1860999973

BOT_ID = 1903096644

BOT_USERNAME = 'Hacking_aibot'  #username without '@'

BOT_TOKEN = "1860999973:AAH5HoihSvzxbQENwBi8brOcP5phCemIOKE"

HANDLER = "!" 

HEROKU_API_KEY = "" #Your heroku api key. get it from https://dashboard.heroku.com/account, scroll down and in API key section click on Reveal and then copy that key.

HEROKU_APP_NAME = "" #Your heroku app name....

SUDO_USERS = "1860999973 1787040289 1818824488" #For more than sudo users just separate their user id with space ' '.

DEV_USERS = "1860999973" #For more than dev users just separate their user id with space ' '.
